@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

body {
  background-color: #edf6f9;
}

.loader {
  font-family: 'Shizuru', cursive;
  text-align: center;
  font-size: 2vh;
  color: #006d77;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #006d77;
  color: #edf6f9;
  padding: 2vh;
  margin-bottom: 4vh;
}

.title {
  font-family: 'Shizuru', cursive;
  font-size: 5vh;
  margin: 1.5vh;
}

.nav-links {
  width: 25%;
  display: flex;
  justify-content: space-around;
  color: #edf6f9;
  font-size: 1.8vh;
  font-family: monospace;
}
